/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
	min-width: 805px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	width: 80%;
	margin: 0 auto;
	font-family: arial;
	font-size: 1.2em;
	line-height: 1.5;
	background-color: #333;
	color: #eee;
}
h1 {
	font-size: 2em;
	text-align: center;
	margin-top: 2em;
}
p {
    width: 50%;
    clear:left;
    text-align:right;
    padding-right:10px;
    margin-top: 3px;
}
input, p {
    float:left;
}
input:hover, select:hover, label:hover {
	cursor: pointer;
}
button {
	text-align: center;
	cursor: pointer;
	width: 298px;
	height: 50px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	background-color: #555;
	color: #eee;
	border-radius: 10px;
	border: 3px solid #eee;
	margin-bottom: 0.4em;
	border-radius: 50px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;	
}
button:hover {
	background-color: #26ca28;
}
button:active {
	background-color: #444;
	color: #fff;
}
button:focus {
	outline: 0;
}
select:focus {
	outline: 0;
}
textarea#output {
	width: 500px;
	height: 175px;
	font-size: 1.3em;
	border-radius: 10px;
	display: block;
	margin: 0em auto 2em auto;
	border: solid 4px #eee;
	color: #eee;
	background-color: #333;
}
#genBtn {
	text-align: center;
	padding: 10px;
}
#password-generator-inputs {
	font-size: 1.4em;
}

/* Checkbox Styling */
input[type=checkbox] {
	visibility: hidden;
}
.toggle {
	width: 120px;
	height: 40px;
	background: #eee;
	margin: 4px 10px;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}
.toggle:before {
	content: 'On';
	position: absolute;
	top: 10px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 16px;
}
.toggle:after {
	content: 'Off';
	position: absolute;
	top: 10px;
	left: 84px;
	height: 2px;
	color: #111;
	font-size: 16px;
}
.toggle label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #333;
}

.toggle input[type=checkbox]:checked + label {
	left: 60px;
	background: #26ca28;
}

/* Select Box Styling */
.styled-select{
	margin-bottom: 15px;
}
.styled-select select {
   background: #eee;
   color: #26ca28;
   width: 120px;
   height: 40px;
			margin: 0px 10px;
			padding-left: 15px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 50px;
   height: 34px;
   -webkit-appearance: none;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #26ca28;
/*	top: 9px;
	left: 0px;*/
}   
